.contact {
    .icon {
        height: 35px;
        padding: 0.4rem 0;
        width: 35px;
    }

    .btn-send {
        // width: 180px;
        height: 45px;
    }

    .map {
        height: 60vh;
        min-width: 100%;
    }
}